<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <table>
    <thead>
      <th>Codigo</th>
      <th>Temperatura</th>
      <th>Umidade</th>
    </thead>
    <tbody>
      <% for (const row of table) { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.t_canal1 %></td>
          <td><%= row.u_canal1 %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>