<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <table>
    <thead>
      <th>Date</th>
      <th>Sensor</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Local</th>
      <th>Position</th>
    </thead>
    <tbody>
      <% for (const row of table) { %>
        <tr>
          <td><%= row.date %></td>
          <td><%= row.sensor %></td>
          <td><%= row.temperature / 100 %> °C</td>
          <td><%= row.humidity / 100 %> %</td>
          <td><%= row.location %></td>
          <td><%= row.position %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>