<div class="dashboard">
  <table>
    <h3>Dashboard</h3>
    <thead>
      <th>Location</th>
      <th>Position</th>
      <th>Min humidity</th>
      <th>Max humidity</th>
      <th>Min temperature</th>
      <th>Max temperature</th>
    </thead>
    <tbody>
      <% for (const row of table) { %>
      <tr>
        <td><%= row.locations.location %></td>
        <td><%= row.positions.position %></td>
        <td><%= row.min_humidity / 100 %>%</td>
        <td><%= row.max_humidity / 100 %>%</td>
        <td><%= row.min_temperature / 100 %> °C</td>
        <td><%= row.max_temperature / 100 %> °C</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
